body {
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    color: rgb(170, 89, 14);
}

p {
    font-size: 24px;
    margin-bottom: 100px;
}

a {
    font-size: 24;
    color: rgb(152, 63, 235)
}

img {
    width: 100%;
    max-width: 500px;
}